---
title: L&apos;&eacute;quipe
layout: default
---
%h1 #{page.title}

- members = site.team.values.sort_by{|a| [a.name]}
- for member in members
  .teammember
    .teamheader
      %h2 #{member.name}
      .teamlinks
        - if member.website
          %a{:href=>"#{member.website}"}
            %img{:src=>'/images/services/web_32.png'}
            Site
        - if member.blog
          %a{:href=>"#{member.blog}"}
            %img{:src=>'/images/services/rss_32.png'}
            Blog
        - if member.twitter
          %a{:href=>"http://twitter.com/#{member.twitter}"}
            %img{:src=>'/images/services/twitter_32.png'}
            Twitter
    .row
      .col-md-2
        %img.img-responsive{:src=>"http://www.gravatar.com/avatar/#{member.gravatar_hash}?s=150",
          :height=>"150px", :width=>"150px"}
      .col-md-10
        .teammemberbio
          #{member.content}
