---
title: Liste des épisodes
layout: base
---
.jumbotron
  .container
    %h1 Le podcast Java en Français
    %p
      %img.img-responsive.logo{ :src => "/images/logo_carre_transparent_150height.png", :alt => "logo" }
      Les Cast Codeurs est un podcast en français
      %strong de, par et pour les développeurs.
    %p
      Prenez connaissance des
      %strong dernières nouvelles
      de la sphère
      %strong Java
      et du développement en général.
      Plongez sur un sujet précis avec les épisodes
      %strong interview.
    %p
      Supportez les radotages de vos hôtes :
      %strong Emmanuel Bernard
      (JBoss, Hibernate),
      %strong Arnaud Héritier
      (eXo, Maven),
      %strong Guillaume Laforge
      (VMWare, Groovy),
      %strong Antonio Goncalves
      (freelance, auteur),
      %strong Vincent Massol
      (XWiki, Maven).
    .pull-right
      %a.btn.btn-lg.btn-primary{ :href => '/concept/', :role => "button" } En savoir plus

.container.content
  .row
    .col-md-9
      - for post in page.posts
        .blog-post
          %h2.blog-post-title
            %a{:href=>post.url}= post.title
          %p.blog-post-meta
            Posté par #{post.author} le
            #{post.date.strftime( '%d/%m/%Y' )}
            &nbsp;|&nbsp;
            = page.flattr_compact_counter(:url=>"https://lescastcodeurs.com" + post.url,
                                          :title=>post.title,
                                          :tags=>'podcast, java')
          %p
            ~ post.content
          .disqus-short
            = post.disqus_comments_link
          %hr.separator
      = page.posts.links
    .col-md-3
      #{site.haml_elements.sidebar.content}
