!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title 
      #{site.title} | #{page.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/styles.css" }
    %link{ :href=>'/feed.atom', :rel=>'alternate', :type=>'application/atom+xml'}/
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    = page.disqus_comments_count
  %body
    .navbar.navbar-fixed-top.navbar-inverse{ :role => "navigation" }
      .container
        .navbar-header
          %button.navbar-toggle{ :type => "button", :"data-toggle" => "collapse", :"data-target" => ".navbar-collapse" }
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ :href=>"/" } Les Cast Codeurs Podcast
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href=>"/" } Podcasts
            %li
              %a{ :href=>"/equipe" } L'équipe
            %li
              %a{ :href=>"/concept" } Le Concept
            %li
              %a{ :href=>"/crowdcasting" } Crowdcasting
            %li
              %a{ :href=>"/parler" } (en) Parler

    ~ content

    .footer
      %p &copy; 2009-#{Date.today.year} Emmanuel Bernard - Tous droits réservés

    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" }
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" }
  = google_analytics_universal
