---
layout: default
---
%ul.pager
  - if page.previous_post
    %li.previous
      %a{:href=>page.previous_post.url}
        &larr; 
        - text = page.previous_post.title
        - if text.size < 25
          = text
        - else
          = text[0...25].to_s << "..."
  - if page.next_post
    %li.next
      %a{:href=>page.next_post.url}
        - text = page.next_post.title
        - if text.size < 25
          = text
        - else
          = text[0...25].to_s << "..."
        &rarr;
  
%hr
.blog-post
  %h2
    = page.title
  %p.blog-post-meta
    Posté par #{page.author} le
    #{page.date.strftime( '%d/%m/%Y' )}
  %p
    ~ page.content
  .disqus-long
    = page.disqus_comments
